.pagination-container {
  padding: 10px;
  display: flex;
  justify-content: center; }

.my-pagination {
  display: flex; }

.pagination-controls {
  display: flex;
  margin-right: 15px; }

.menu {
  display: flex;
  padding: 5px 10px;
  justify-content: flex-end;
  border-bottom: 1px gainsboro solid;
  background-color: ghostwhite; }
