@import '../node_modules/reset-css/reset.css';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/@mdi/font/css/materialdesignicons.min.css';

@import './styles/main.scss';

.item-list {
  padding: 0;

  .item {
    padding: 15px 10px;
    border-bottom: 2px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: #f5f5f5;
    }

    .todo-text {
      font-size: 18px;
    }
  }
}

.btn {
  padding: 10px 15px;
  border: 1px solid gainsboro;

  &:hover {
    background-color: #eee;
  }

  &:active {
    background-color: #bbb;
    box-shadow: 0px -1px 10px -3px #000 inset;
    // outline: none;
  }

  &:focus, &:active, &:visited {
    outline: none;
  }
}

.btn-green {
  background-color: darkseagreen;
}

.btn:active {
  & .icon-edit, .icon-confirm, .icon-trash {
    transform: scale(0.9);
  }
}

.icon-trash {
  display: block;
  width: 24px;
  height: 24px;
  background: url('./icons/trash-can.png') center/24px ;
}

.icon-edit {
  display: block;
  width: 24px;
  height: 24px;
  background: url('./icons/pencil.png') center/24px ;
}

.icon-confirm {
  display: block;
  width: 24px;
  height: 24px;
  background: url('./icons/checkmark-32.png') center/24px ;
}
.align-right {
  float: right;
  margin: 10px;
  color: white;
}

.todo-input {
  padding: 14px;
  margin-left: 15px;
}

.completed {
  text-decoration: line-through;
}

.loader-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:  center;
  justify-content: center;
}

.loader {
  width: 150px;
  height: 150px;
}